.container {
        width: 100%;
        margin: 0 auto;
        }

html, body {
        background-image:url("../images/orangetree.jpg");
        background-size: cover;
        background-attachment: fixed;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;  
        }

.logo {
        display: block;
        width: 70%;
        padding-top: 40%;
        margin-left: auto;
        margin-right: auto;
		text-align: center;
        }

/*DOWNWARD ARROW*/
.movedown {
        display: block;
        width: 50%;
        padding-top: 0%;
        margin-left: auto;
        margin-right: auto;
		text-align: center;
        transition: .2s;
        font-size: 7em;
        font-family: sans-serif;
        color: #fff;
        }

        .movedown:hover {
                opacity:0;
                }

h1 {
        font-family: 'Josefin Slab', serif;
        font-style: bold;
        font-size:2.5em;
        }

h2 {
        font-family: 'Josefin Slab', serif;
        font-size: 1.7em;
        text-align: justify left;
        }

p {
        font-family: sans-serif;
        font-size: 5em;
        color: #fff;
        }

/*This sets the maximum width of the image to no more than the containing element*/
img {
        max-width: 100%;
        display: inline;
        margin-left: auto;
        margin-right: auto;
        }

#navigation ul {
        background-color: #fff;
        display: block;
        margin: 70% 0 40% 0;
        padding: 5% 0% 5% 0%;
        overflow: hidden;
        width: 100%;
        }

#navigation ul li {
        display: block;
        text-align: right;
        padding: 5% 5% 1% 5%;
        margin: 0 0 0 0%;
        font-family: 'Josefin Slab', serif;
        font-style: bold;
        font-size:2.5em;
        position: relative;
        }

#navigation ul li a {
        text-decoration: none;
        font-weight: 400;
        position: relative;
        }

        a:link {
                color: #000;
                font-family: 'Josefin Slab', serif;
                text-decoration:none;
                }

        a:visited {
                color: #000;
                font-family: 'Josefin Slab', serif;
                text-decoration:none;
                }
        a:hover { 
                color: #ffae42;
                font-family: 'Josefin Slab', serif;
                text-decoration:none;
                }

#about {
    background-color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10%;
    border-radius: 20px;
    font-family: 'Josefin Slab', serif;
    font-size: 150%;
    }

#recentwork {
    background-color: #fff;
    padding: 2%;
    margin: 40% 0 0 0;
    }

.your-class {
    width: 60%;
    margin: 0 auto;
    padding: 5%;
    }

#contact {
    width: 100%;
    float: right;
    background-color: #fff;
    margin: 50% 0 0% 0;
    position: relative;
    }

#contact ul {

    font-family: 'Josefin Slab', serif;
    font-size: 2.5em;
    padding: 10% 0% 10% 0%;
    display: flex;
    flex-direction: row;
    text-align: center;
    }

#contact ul li {
    font-size: 1.5em;
    display: block;
    width: 25%;
    }

#linktotop a {
    font-size: 3em;
    color: #fff;
    text-decoration: none;
    margin: 0% 0% 50% 0%;
    text-align: right;
    }

    #linktotop a:hover {
        color: #ffae42;
        }

#linktotop {
    margin: 0% 3% 50% 0%;
    text-align: right;
    }

 /* For tablets: */
@media only screen and (min-width: 768px) {

    #navigation ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 50% 0 40% 0;
    }
    
    #contact {
    margin: 45% 0 0% 0;
    }
    
    .your-class {
    width: 60%;
    margin: 0 auto;
    padding: 5%;
    }
    
/* For desktop: */

@media only screen and (min-width: 1024px) {
    
    #navigation ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 40% 0 40% 0;
   }
    
    #contact {
    margin: 45% 0 0% 0;
    }
    
    .logo {
        padding-top: 30%;
    }
    .your-class {
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    }

